{:paths ["script"]
 :deps {medley/medley {:mvn/version "1.3.0"}}
 :min-bb-version "0.4.0"
 :tasks
 {
  
  word-count {:doc "Sums the num_words column in num-words.csv"
              :task (shell "./csv.clj cache/num-words.csv")}
  
  word-total {:doc "Calculates the total number of words (recursive)"
              :task (shell "./metronome.clj word-total")} 
  
  reading-speed {:doc "Displays set reading speed. To configure see `reading_speed` variable found in `calc-reading-time.py`"
        :task (shell "./metronome.clj reading-speed")}
  
  reading-time-minute {:doc "Calculate reading time in minutes found in the target directory"
                       :task (shell "./metronome.clj reading-time-minute")}
  
  reading-time-hour {:doc "Calculate reading time in hours found in the target directory"
                   :task (shell "./metronome.clj reading-time-hour")}

  reading-time-verses {:doc "Calculate five-minute reading intervals found in the target directory"
                     :task (shell "./metronome.clj five-minute-verses")}
  
  directory {:doc "Analyzes target a directory (sums word count, calculates reading time, ) Exports JSON file and STDOUT"
             :task (shell (str "./word-count.sh" " " (if (nil? *command-line-args*) "book" (first *command-line-args*))))} 
  
  file {:doc "Analyzes target a directory (sums word count, calculates reading time, ) Exports JSON file. Less console output"
        :task (shell "./metronome.clj file")}

  ;; More tasks to follow ...
  ;; ...
  }}